.page.theme_dark {
  --page-bg-color: var(--color-theme-black1, #000028);
  --page-bg-image: url("../images/cover-image-dark.png");

  --header__rec-decoration-visibility: visible;

  --head-color: var(--color-theme-purple1, #db00ff);
  --text-color: var(--color-theme-pink2, #f1b2ce);
  --accent-color: var(--color-theme-purple2, #ff0070);

  --secondary-color: var(--color-theme-purple2, #ff0070);
  --third-color: var(--color-theme-button-hover, #ff007040);

  --highlight-color: var(--color-theme-black1, #000028);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: var(--color-theme-black1, #000028);
    --page-bg-image: url("../images/cover-image-dark.png");

    --header__rec-decoration-visibility: visible;

    --head-color: var(--color-theme-purple1, #db00ff);
    --text-color: var(--color-theme-pink2, #f1b2ce);
    --accent-color: var(--color-theme-purple2, #ff0070);

    --secondary-color: var(--color-theme-purple2, #ff0070);
    --third-color: var(--color-theme-button-hover, #ff007040);

    --highlight-color: var(--color-theme-black1, #000028);
  }
}
