.page.theme_light {

  --page-bg-color: var(--color-theme-pink1, #fff1f7);
  --page-bg-image: url("../images/cover-image-light.png");

  --head-color: var(--color-theme-pink3, #ffc2e6);
  --text-color: var(--color-theme-black2, #353430);
  --accent-color: var(--color-theme-pink4, #ff8dcb);

  --highlight-color: var(--color-theme-black2, #353430);
  --secondary-color: var(--color-theme-black2, #353430);
  --third-color: var(--color-theme-black3, #35343040);

  --header__rec-decoration-visibility: hidden;
}

@media (prefers-color-scheme: light) {

  :root {
    --page-bg-color: var(--color-theme-pink1, #fff1f7);
    --page-bg-image: url("../images/cover-image-light.png");

    --head-color: var(--color-theme-pink3, #ffc2e6);
    --text-color: var(--color-theme-black2, #353430);
    --accent-color: var(--color-theme-pink4, #ff8dcb);

    --highlight-color: var(--color-theme-black2, #353430);
    --secondary-color: var(--color-theme-black2, #353430);
    --third-color: var(--color-theme-black3, #35343040);

    --header__rec-decoration-visibility: hidden;
  }
}
